@model IEnumerable<Project.Models.Doctor>

@{
    ViewData["Title"] = "Doctors";
}

<h2>All Doctors</h2>

@if (Model.Any())
{
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Specialization</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var doctor in Model)
        {
            <tr>
                <td>@doctor.Name</td>
                <td>@doctor.Specialization</td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <p>No doctors found.</p>
}