@{
    ViewData["Title"] = "Registration Success";
}

<h2>Registration Successful</h2>

<p>Your patient's medical record has been created successfully!</p>
<p>Patient ID: @ViewBag.PatientId</p>

<p>
    <a href="/Home">Go to Home Page</a>
</p>